<header>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="../../images/BOOKSWAP.png" alt="Logo">
            </div>
            <ul>
                <div class="btn">
                    <i class="fas fa-times close-btn"></i>
                </div>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Libros</a></li>
                <!-- Verificar si la sesión está iniciada -->
                <th:block th:if="${session.email != null}">
                    <li><a href="#">Mis mensajes</a></li>
                    <li><a href="#">Comunidad</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="/logOut">Cerrar Sesión</a></li>
                </th:block>
                <!-- Si la sesión no está iniciada -->
                <th:block th:if="${session.email == null}">
                    <li><a href="/login">Entrar</a></li>
                </th:block>
            </ul>
            <div class="btn">
                <i class="fas fa-bars menu-btn"></i>
            </div>
        </nav>
    </div>
</header>
