<header>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="../../images/BOOKSWAP.png" alt="Logo">
            </div>
            <ul>
                <div class="btn">
                    <i class="fas fa-times close-btn"></i>
                </div>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Libros</a></li>
                <th:block th:if="${session.username != null}">
                    <li><a href="#">Mis mensajes</a></li>
                    <li><a href="#">Comunidad</a></li>
                    <li><a href="/perfil">Perfil</a></li>
                    <li><a class="button_header" role="button" href="/logOut"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                </th:block>
                <th:block th:if="${session.username == null}">
                    <li><a class="button_header" role="button" href="/login">Entrar</a></li>
                </th:block>
            </ul>
            <div class="btn">
                <i class="fas fa-bars menu-btn"></i>
            </div>
        </nav>
    </div>
</header>