<header>
    <div class="container">
        <nav>
            <div class="logo">
                <img src="../../images/BOOKSWAP.png" alt="Logo">
            </div>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Libros</a></li>
                <li><a href="#">Mis favoritos</a></li>
                <li><a href="#">Mis mensajes</a></li>
                <li><a href="#">Comunidad</a></li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </nav>
    </div>
</header>