* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
    background-color: #E8D6C6 !important;
    padding: 0.5rem 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 0rem 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    object-fit: cover;
    margin-right: 8px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0rem 0.4rem;
    align-items: center;
    padding: 0.5rem 0.5rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
    color: #93674E;
    padding: 0.7rem 1rem;
}

nav ul li a:hover {
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
    color: #7a503b;
    padding: 0.7rem 1rem;
    font-weight: 100rem;
    text-decoration: underline;
}

/* BANNER */

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    color: #7a503b;
}

.home h4 {
    font-size: 4.1rem;
}

main h1 {
    font-size: 2rem;

}

.form-input {
    margin: 1 rem 0;
    width: 50%;
    position: relative;
}

.form-input input {
    width: 100%;
    outline: none;
    padding: 1.4rem 1rem;
    margin: 1rem 0rem;
    border-radius: 0.4px;
    border: none;
    font-size: 1.2rem;
}

.form-input button {
    position: absolute;
    top: 25px;
    right: 0;
    padding: 0.8rem 1.5rem;
    margin: 0 1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #93674E;
    font-size: 1.3rem;
    cursor: pointer;
}

/* .content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
} */

