* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header,
footer {
    background-color: #E8D6C6 !important;
    padding: 0;
    margin: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px; 
    text-align: center;
}


.container {
    max-width: 100%;
    margin: 10px 0;
    width: 100%;
    padding: 0;
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.logo img {
    width: 100%;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0rem 0.4rem;
    align-items: center;
    padding: 0.5rem 0.5rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
    color: #93674E;
    padding: 0.7rem 1rem;
}

nav ul li a:hover {
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
    color: #7a503b;
    padding: 0.7rem 1rem;
    font-weight: 100rem;
    text-decoration: underline;
}

/* nav ul li a:hover {
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 2.5px;
    color: #7a503b;
    padding: 0.7rem 1rem;
    font-weight: 100rem;
    text-decoration: underline;
} */

.btn {
    font-size: 1.3rem;
    color: #93674E;
    cursor: pointer;
    display: none;
}

.button_header {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: solid 2px #7a503b;
    border-radius: 20px;
    padding: 10px 20px;
    color: #7a503b;
    cursor: pointer;
    transition: background-color .3s ease;
}

.button_header:hover {
    text-decoration: none;
    border-radius: 20px;
    background-color: #7a503b;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: #E8D6C6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

/* BANNER */

.home {
    align-items: center;
    justify-content: center;
    color: #7a503b;
}

.form-input {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: relative;
}

.form-input input {
    width: 100%;
    outline: none;
    padding: 1rem 1rem;
    margin: 1rem 0rem;
    border-radius: 20%;
    border: none;
    font-size: 1rem;
}

.form-input button {
    position: absolute;
    top: 23%;
    right: 0;
    padding: 0.3rem 0.7rem;
    margin: 0.25rem 0.55rem;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: #93674E;
    font-size: 1.3rem;
    cursor: pointer;
    color: #E8D6C6;
}

.content {
    background-image: url('../images/banner.png');
    background-size: cover;
    background-position: center;
    height: 280px;
}

/* LOGIN */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E8D6C6;
}

.container-form {
    display: flex;
    max-width: 900px;
    height: 500px;
    border-radius: 20px;
    transition: all 1s ease;
    margin: 10px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #93674E;
}

.info-childs {
    width: 100%;
    padding: 0 30px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: #E8D6C6;
    font-weight: bold;
}

.info-childs p {
    margin: 15px 0;
    color: #E8D6C6;
}

.button {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    border: solid 2px #E8D6C6;
    border-radius: 20px;
    padding: 10px 20px;
    color: #E8D6C6;
    cursor: pointer;
    transition: background-color .3s ease;
}

.button:hover {
    text-decoration: none;
    background-color: #E8D6C6;
    border: none;
    color: #7a503b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-information {
    border: solid 4px #93674E;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
}

.form-information-childs {
    padding: 0 30px;
}

.form-information-childs h2 {
    color: #93674E;
    font-size: 2rem;
}

.form {
    margin: 30px 0 0 0;
}

.form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    background-color: white;
}

.form label input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.form input[type="submit"] {
    background-color: transparent;
    outline: none;
    border: solid 2px #93674E;
    border-radius: 20px;
    padding: 10px 20px;
    color: #93674E;
    cursor: pointer;
    transition: background-color .3s ease;
    margin-top: 15px;
}

.form input[type="submit"]:hover {
    background-color: #7a503b;
    border: none;
    color: #E8D6C6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin-top: 20px;
}

.fa-arrow-left {
    color: #7a503b;
    font-size: 30px;
}

.fa-arrow-left:hover {
    color: #E8D6C6;
    outline: none;
    background-color: #7a503b;
    border-radius: 10px;
    padding: 0.6rem 0.6rem;
    font-size: 30px;
}

/* ------------------------------------------------- */

.information-register {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #93674E;
}

.form-information-register {
    border: solid 4px #93674E;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
}

.hidden {
    display: none;
}

/* PAGINA PERFIL */

.textoPerfil {
    font-size: 1rem;
    font-weight: 200rem;
    text-align: center;
    line-height: 1;
    background-color: #E8D6C6;
    color: #93674E;
    border-radius: 18px;
    border: 1px solid #93674E;
    width: 70%;
    margin-top: 3%;
}

.p-md-5 {
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

.mb-2 {
    margin-left: auto;
    margin-right: auto;
}

.perfil {
    width: 100%;
    max-width: 200px;
}

.col-md-6 {
    align-content: center;
}

.flex-column {
    text-align: center;
    text-decoration: none;

}

.enlace-perfil {
    background-color: #E8D6C6;
    width: 100%;
    margin-bottom: 2%;
    border-radius: 35%;
}

.mb-0 {
    color: #7a503b;
}

.enlace-perfil:hover {
    color: #7a503b;
    text-decoration: none;
}

.botonNuevoLibro {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.button_newBook {
    text-decoration: none;
    background-color: #7a503b;
    outline: none;
    border: solid 2px #E8D6C6;
    border-radius: 20px;
    padding: 10px 20px;
    color: #E8D6C6;
    cursor: pointer;
    transition: background-color .3s ease;
    margin-left: 90%;
}

.button_newBook:hover {
    background-color: #E8D6C6;
    border: solid 2px #7a503b;
    color: #7a503b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

/* .button_newBook:hover {
    text-decoration: none;
    background-color: #E8D6C6;
    border: solid 2px #7a503b;
    color: #7a503b;
    margin-left: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
} */

.sinLibros {
    text-align: center;
    color: #7a503b;
    max-width: 50%;
    margin-left: 25%;
}

h2.textoSinLibros {
    font-weight: 600;
    border: 3px solid;
    width: 100%;
}

.card-libro-myBooks{
    margin: 5%;
    margin-right: 0%;
    width: 90%;
}

.titulo-libro{
    font-weight: 700;
}

.p-2 {
    margin: 2%;
    width: 50%;
    align-self: center;
}

.bajo{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.boton_eliminar a {
    color: white;
}

.boton_eliminar {
    display: inline-block;
}

a.btn.btn-danger{
    display: block;
}

.isbn {
    margin-top: 2%;
    align-self: baseline;
    font-weight: bold;
}

.titulo-apartado{
    color: #7a503b;
    font-weight: 700;
    text-align: center;
    background-color: #E8D6C6;
    padding: 1%;
    font-size: 30px;
}

.boton_eliminar .btn:hover i.fa-trash {
    display: none; 
}

.boton_eliminar .btn:hover::before {
    content: "\f014"; 
    font-family: 'Font Awesome 5 Free'; 
    display: inline-block; 
    font-size: inherit; 
    margin-right: 5px;
}

.d-none {
    padding: 0%;
}

/* PAGINA NEWBOOK */

.newBook {
    width: 100%;
    margin: auto;
    padding: 2%;
}

.label_newBook{
    border: none;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #7a503b;
    font-weight: bold;
}

.input_newBook{
    border-color: #7a503b;
    margin-bottom: 2%;
}

.container_newBook{
    margin: auto;
    max-width: 900px;
    height: 450px;
}

.titulo_formulario{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: 600;
    font-family: auto;
    color: #7a503b
}

.img_newBook{
    background-image:url("../images/formBook.png");
}

.button_form {
    text-decoration: none;
    background-color: #7a503b;
    outline: none;
    border: solid 2px #E8D6C6;
    border-radius: 20px;
    padding: 10px 20px;
    color: #E8D6C6;
    cursor: pointer;
    transition: background-color .3s ease;
}

.button_form:hover {
    text-decoration: none;
    background-color: #E8D6C6;
    border: solid 2px #7a503b;
    color: #7a503b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.newBookForm{
    width: 90%;
}