<!DOCTYPE html>
<html lang="es" data-bs-theme="auto">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BookSwap</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/images/icono.png}">
</head>

<body class="container-newBook">
    <main class="container">
        <h3 class="titulo_formulario">Publica un libro</h3>
        <div class="container-form container_newBook">
            <div class="information img_newBook"></div>
            <div class="form-information">
                <div class="form-information-childs newBookForm">
                    <form th:action="@{/createBook}" method="post" th:object="${book}" enctype="multipart/form-data">
                        <div class="newBook">
                            <label class="label_newBook" for="title">Título: *</label>
                            <input class="input_newBook form-control" type="text" id="title" name="title"
                                th:field="*{title}" required>
                            <label class="label_newBook" for="year">Año de publicación: *</label>
                            <input class="input_newBook form-control" type="number" id="year" name="year"
                                th:field="*{year}" required>
                            <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>
                            <label class="label_newBook" for="author">Autor del libro: *</label>
                            <input class="input_newBook form-control" type="text" id="author" name="author"
                                th:field="*{author}" required>
                            <label class="label_newBook" for="isbn">ISBN: *</label>
                            <input class="input_newBook form-control" type="text" id="isbn" name="isbn"
                                th:field="*{ISBN}" required>
                            <span th:if="${#fields.hasErrors('ISBN')}" th:errors="*{ISBN}"></span>
                            <label class="label_newBook" for="genre">Género: *</label>
                            <select class="input_newBook form-control" id="genre" name="genre" required>
                                <option value="" disabled selected>Selecciona un género</option>
                                <th:block th:each="genre : ${T(com.paula.model.Genre).values()}">
                                    <option th:value="${genre}"
                                        th:text="${#strings.capitalize(genre.name().replaceAll('([A-Z])', ' $1').toLowerCase())}">
                                    </option>
                                </th:block>
                            </select>
                            <select class="input_newBook form-control" id="condition" name="condition" required>
                                <option value="" disabled selected>¿En qué condición se encuentra tu libro?</option>
                                <th:block th:each="condition : ${T(com.paula.model.BookCondition).values()}">
                                    <option th:value="${condition}"
                                        th:text="${#strings.capitalize(condition.name().replaceAll('([A-Z])', ' $1').toLowerCase())}">
                                    </option>
                                </th:block>
                            </select>
                        </div>
                        <button class="button_form" type="submit">Publicar Libro</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer class="form volverPerfil">
        <a href="/perfil"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>
